/* Estilos generales para escritorio */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-image: url(../IMG/Fondo_Pagina_principal.jpg);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.navbar {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex; /* Usamos flexbox para centrar verticalmente y horizontalmente */
  justify-content: space-between; /* Centramos horizontalmente y añadimos espacio entre los elementos */
  align-items: center; /* Centramos verticalmente */
  padding: 10px 20px; /* Añade un poco de espacio alrededor del contenido */
}

.contenedor_logo {
  margin-right: auto; /* Empuja el logo hacia la izquierda */
}

.opciones {
  display: flex;
  justify-content: center; /* Centra las opciones horizontalmente */
  align-items: center; /* Centra las opciones verticalmente */
}

#logo {
  width: 200px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 0 20px;
}

#logo {
  width: 200px;
}

.search-container {
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.615);
  max-width: 80%;
  border-radius: 10px;
}

.search-box {
  width: 400px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#search-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
  body {
    background-position: right center; /* Cambia la posición de la imagen para centrar la parte superior en dispositivos móviles */
    background-size: cover;
  }

  .search-container {
    flex-direction: column; /* Cambia a flex-direction: column */
  }

  .search-box {
    width: 100%; /* Cambia el ancho a 100% en dispositivos móviles */
    margin-left: 120px;
    margin-right: 120px; /* Añade margen en la parte superior e inferior */
  }

  #search-button {
    font-size: 16px;
  }
}
