/* Estilos para dispositivos de escritorio (pantallas más grandes) */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Añade espacio entre el logo y las opciones */
  align-items: center; /* Centra verticalmente el contenido de la barra de navegación */
  background-color: hsl(100, 100, 100);
  color: #fff;
  padding: 10px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea si no caben */
}

.contenedor_logo {
  display: flex; /* Permite ajustar el logo verticalmente */
  align-items: center; /* Centra verticalmente el logo */
  margin-right: 10px; /* Ajusta el margen derecho del logo */
}

#logo {
  width: 150px; /* Reduce el tamaño del logo */
  margin: 0; /* Elimina el margen superior del logo */
}

.opciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Justifica horizontalmente las opciones */
  align-items: center; /* Centra verticalmente las opciones */
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.div1,
.div2 {
  width: calc(50% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
}

#Poliza {
  background-color: rgb(155, 30, 30);
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center; /* Centra el texto en dispositivos móviles */
}

#poliza_texto {
  color: #fff;
  margin: 10px;
  text-align: center; /* Centra el texto en dispositivos móviles */
}

#Facturacion {
  background-color: rgb(155, 30, 30);
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center; /* Centra el texto en dispositivos móviles */
}

#facturacion_texto {
  color: #fff;
  margin: 10px;
  text-align: center; /* Centra el texto en dispositivos móviles */
}

#Poliza_info {
  padding: 10px;
  text-align: left; /* Alinea el texto a la izquierda en dispositivos móviles */
}

.poliza_estado {
  padding: 10px;
  text-align: left; /* Alinea el texto a la izquierda en dispositivos móviles */
}

.Accordions {
  width: auto;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left; /* Alinea el texto a la izquierda en dispositivos móviles */
  background-color: rgb(164, 164, 165);
}

summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(164, 164, 165);
}

table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 10px;
}

th,
td {
  border: none;
  padding: 5px;
  text-align: left;
}

.info-icon {
  width: 30px;
  cursor: pointer;
}

.info-icon.clicked {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

/* Estilos específicos para dispositivos móviles (Media Query) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 10px;
    text-align: left;
  }

  .div1,
  .div2 {
    width: calc(100% - 40px);
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    display: inline-block;
  }
}
