/* Estilos para dispositivos de escritorio (pantallas más grandes) */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
}

#logo {
  width: 200px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.div1,
.div2 {
  width: calc(50% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
}

#Poliza {
  background-color: rgb(155, 30, 30);
  justify-content: center;
  padding: 1px;
}

#poliza_texto {
  color: #fff;
  margin: 10px;
}

#Facturacion {
  background-color: rgb(155, 30, 30);
  justify-content: center;
  padding: 1px;
}

#facturacion_texto {
  color: #fff;
  margin: 10px;
}

#Poliza_info {
  padding-left: 40px;
}

.poliza_estado {
  padding-left: 100px;
}

.Accordions {
  width: 1750px;
  padding: 40px;
  background-color: rgb(217, 215, 215);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

summary {
  list-style: none;
  cursor: pointer;
  display: flex; /* Añadimos display flex */
  justify-content: space-between; /* Colocamos el contenido a la derecha */
  align-items: center; /* Centramos verticalmente */
}

table {
  width: calc(100% - 40px);
  margin: 20px;
  border-collapse: collapse;
}

th,
td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

th,
td:first-child {
  border-left: 1px solid black;
}

th,
td:last-child {
  border-right: 1px solid black;
}

.info-icon {
  width: 30px; /* Ajustamos el tamaño de la imagen a 30px para que sea más grande */
  cursor: pointer; /* Cambia el cursor al puntero al pasar por encima */
}

.info-icon.clicked {
  transform: rotate(180deg); /* Gira la imagen cuando se hace clic */
  transition: transform 0.3s; /* Agrega una transición para una animación suave */
}

/* Estilos específicos para dispositivos móviles (Media Query) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 10px; /* Espacio entre los bordes de la pantalla y el contenedor */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .div1,
  .div2 {
    width: calc(
      100% - 40px
    ); /* 100% del ancho disponible menos 40px de margen en ambos lados */
    padding: 20px; /* Espacio entre los divs y su contenido */
    margin: 10px; /* Espacio igual en todos los lados */
    border: 1px solid #ccc; /* Agrega un contorno a los divs */
    display: inline-block; /* Coloca los divs en una sola fila */
  }

  #Poliza,
  #Facturacion {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
  }

  #poliza_texto,
  #facturacion_texto {
    margin: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
  }

  #Poliza_info {
    padding-left: 10px;
  }

  .poliza_estado {
    padding-left: 10px;
  }

  .Accordions {
    width: auto;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Agrega un contorno a la sección Accordions */
    border-radius: 10px;
  }

  table {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    border: 1px solid #ccc; /* Agrega un contorno a la tabla */
    border-radius: 10px;
  }

  th,
  td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
  }
}
