body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para la barra de navegación */
.navbar {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px; /* Reduce el espacio entre los elementos de la barra de navegación en dispositivos móviles */
}

/* Estilos para el contenedor */
.container {
  flex-direction: column; /* Cambia la dirección de flexión para dispositivos móviles */
  margin: 20px;
}

/* Estilos para los divs */
.div1,
.div2 {
  width: 100%; /* Ocupa todo el ancho disponible en dispositivos móviles */
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
}

#Poliza {
  background-color: rgb(155, 30, 30);
  padding: 1px;
  text-align: center; /* Centra el texto en dispositivos móviles */
}

#poliza_texto {
  color: #fff;
  margin: 10px;
}

#Facturacion {
  background-color: rgb(155, 30, 30);
  padding: 1px;
  text-align: center; /* Centra el texto en dispositivos móviles */
}

#facturacion_texto {
  color: #fff;
  margin: 10px;
}

#Poliza_info {
  padding-left: 20px; /* Reduce el espacio a la izquierda en dispositivos móviles */
}

.poliza_estado {
  padding-left: 20px; /* Reduce el espacio a la izquierda en dispositivos móviles */
}

.Accordions {
  width: 100%; /* Ocupa todo el ancho disponible en dispositivos móviles */
  padding: 20px;
  background-color: rgb(217, 215, 215);
  margin: 20px;
}

summary {
  list-style: none;
  cursor: pointer;
}

table {
  width: 100%; /* Ocupa todo el ancho disponible en dispositivos móviles */
  margin: 20px;
  border-collapse: collapse;
}

th,
td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

th,
td:first-child {
  border-left: 1px solid black;
}

th,
td:last-child {
  border-right: 1px solid black;
}
