/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #333;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

a {
  display: inline-block; /* Hace que los botones estén uno al lado del otro */
  margin: 10px;
  text-decoration: none;
  padding: 10px 20px; /* Agrega un poco de espacio alrededor del texto */
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s; /* Agrega una transición de cambio de color */
}

a:hover {
  background-color: #ddd; /* Cambia el color de fondo al pasar el mouse por encima */
}

/* Estilos específicos para los botones */
#subir-archivos {
  background-color: #28a745; /* Verde para "Subir Archivos" */
  color: #fff; /* Texto blanco */
}

#cerrar-sesion {
  background-color: #dc3545; /* Rojo para "Cerrar Sesión" */
  color: #fff; /* Texto blanco */
}
