/* perfil.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #333;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 10px; /* Agrega margen en dispositivos móviles */
}

a {
  display: block; /* Cambia a "block" para que los botones se muestren uno debajo del otro en dispositivos móviles */
  margin: 10px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: #28a745; /* Aplica un color de fondo para todos los botones */
  color: #fff; /* Texto blanco */
}

a:hover {
  background-color: #3d9b5a; /* Cambia el color de fondo al pasar el mouse por encima */
}

/* Estilos específicos para los botones */
#cerrar-sesion {
  background-color: #dc3545; /* Color rojo para "Cerrar Sesión" */
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
  a {
    padding: 10px; /* Ajusta el espaciado para dispositivos móviles */
    width: 100%; /* Ocupa todo el ancho disponible */
  }
}
