<!DOCTYPE html>
<html>
  <head>
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="/CSS/perfil.css">
  </head>
  <body>
    <h1>Bienvenido, <%= username %></h1>
    <a href="/subir-archivos">Subir Poliza</a>
    <a href="/modificar-estado-poliza">Modificar Estado Poliza</a>
    <a href="/modificar-poliza">Modificar Datos Poliza</a>
    <a href="/eliminar-archivos">Eliminar Poliza</a>
    <a href="/logout">Cerrar Sesión</a>
  </body>
</html>